<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg navbar-glass fixed-top">
  <div class="container-fluid px-4 px-lg-4">

    <a class="navbar-brand" href="/index.html">
      <img src="/asset/logo.jpg" alt="The Voice Corp Coopérative ESMATA Logo" height="45">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">
        <li class="nav-item">
          <a class="nav-link active text-primary fw-bold" aria-current="page" href="/index.html">
            <i class="bi bi-house-door-fill me-1"></i> Accueil
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" href="#about-us">
            <i class="bi bi-people-fill me-1"></i> À Propos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" href="#produits">
            <i class="bi bi-bag-fill me-1"></i> Produits
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" href="/events.html">
            <i class="bi bi-calendar-event-fill me-1"></i> Événements
          </a>
        </li>
      
      </ul>
    </div>
  </div>
</nav>
